
h{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;  
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

}
.sec{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(123, 75, 236);
    scroll-snap-align: center;
    
}
h3{
    color: #fff;
    font-size: 10vw;
    text-align: center;
    margin: 0 50px;
}
.sec:nth-child(1)
{
background: rgb(80, 240, 128) url(n7.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.sec:nth-child(2)
{
background: rgb(82, 148, 82) url(1.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.sec:nth-child(3)
{
background: rgb(160, 160, 94) url(2.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.sec:nth-child(4)
{
background: #ce93cc url(3.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.sec:nth-child(5)
{
background: rgb(151, 151, 238) url(4.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.sec:nth-child(6)
{
background: #ebbc77 url(5.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.sec:nth-child(7)
{
background: rgb(107, 167, 107) url(6.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.sec:nth-child(9)
{
background: rgb(140, 236, 208) url(n.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: multiply;
}
.content{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.content h2{
    position: relative;
    display: flex;
    justify-content: center;
}
.content h2 span{
    position: sticky;
    top: 0;
    line-height: 100vh;
    height: 100vh;
    color: #fff;
    font-size: 14vw;
    margin-top: calc(100vh * var(--i));
}